body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #aaf;
}


.triffel-logo {
    width: 30%;
}

.label-offset {
    margin-left: 8em;
}

.start-button {
    font-size: 160%;
    width: 160px;
}
